<a name="pagecontent" id="pagecontent"></a>

<div class="rd-auth container main content">
  <div class="sixteen columns">
    <div class="rd-auth__header">
      <h1 class="rd-auth__title">{{ 'customer.activate_account.title' | t }}</h1>
      <p class="rd-auth__subtitle"><em>{{ 'customer.activate_account.subtext' | t }}</em></p>
    </div>

    <div class="rd-auth__card">
      {% form 'activate_customer_password' %}
        {% if form.errors %}
          <div class="rd-auth__errors">
            {{ form.errors | default_errors }}
          </div>
        {% endif %}

        <div class="rd-field">
          <input type="password" value="" name="customer[password]" id="customer_password"
                 class="rd-field__input" placeholder=" " required />
          <label for="customer_password" class="rd-field__label">{{ 'customer.activate_account.password' | t }}</label>
        </div>

        <div class="rd-field">
          <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation"
                 class="rd-field__input" placeholder=" " required />
          <label for="customer_password_confirmation" class="rd-field__label">{{ 'customer.activate_account.password_confirm' | t }}</label>
        </div>

        <div class="rd-auth__actions">
          <input type="submit" class="rd-btn rd-btn--primary rd-btn--lg" value="{{ 'customer.activate_account.submit' | t }}" />
          <input type="submit" class="rd-btn rd-btn--ghost" name="decline" id="customer_decline" value="{{ 'customer.activate_account.cancel' | t }}" />
        </div>
      {% endform %}
    </div>
  </div>
</div>
