<a name="pagecontent" id="pagecontent"></a>

<div class="rd-auth container main content">
  <div class="sixteen columns">
    <div class="rd-auth__header">
      <h1 class="rd-auth__title">{{ 'customer.register.title' | t }}</h1>
      <p class="rd-auth__subtitle">{{ 'customer.register.subtitle' | t | default: 'Create your account to get started.' }}</p>
    </div>

    <div class="rd-auth__card">
      <div id="create-customer">
        {% form 'create_customer' %}
          {% if form.errors %}
            <div class="rd-auth__errors">
              {{ form.errors | default_errors }}
            </div>
          {% endif %}

          <div class="rd-field">
            <input type="text" value="" name="customer[first_name]" id="first_name"
                   class="rd-field__input" placeholder=" " autocapitalize="words" />
            <label for="first_name" class="rd-field__label">{{ 'customer.register.first_name' | t }}</label>
          </div>

          <div class="rd-field">
            <input type="text" value="" name="customer[last_name]" id="last_name"
                   class="rd-field__input" placeholder=" " autocapitalize="words" />
            <label for="last_name" class="rd-field__label">{{ 'customer.register.last_name' | t }}</label>
          </div>

          <div class="rd-field">
            <input type="email" value="" name="customer[email]" id="email"
                   class="rd-field__input" placeholder=" " autocorrect="off" autocapitalize="off" required />
            <label for="email" class="rd-field__label">{{ 'customer.register.email' | t }}</label>
          </div>

          <div class="rd-field">
            <input type="password" value="" name="customer[password]" id="password"
                   class="rd-field__input" placeholder=" " required />
            <label for="password" class="rd-field__label">{{ 'customer.register.password' | t }}</label>
          </div>

          <div class="rd-auth__actions">
            <input type="submit" class="rd-btn rd-btn--primary rd-btn--lg" value="{{ 'customer.register.sign_up' | t }}" />
          </div>

          <div class="rd-auth__links" style="justify-content: center;">
            <span>
              {{ 'customer.register.returning_customer_label' | t | default: 'Already have an account?' }}
              <a href="/account/login" class="rd-auth__link">{{ 'customer.register.sign_in_html' | t | default: 'Sign in' }}</a>
            </span>
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</div>
